<!-- Property Binding -->
<!-- <button class="btn btn-primary" [disabled]="!allowNewServer">Add Server</button> -->
<label for="">Server Name</label>

<!-- Using one way Binding -->

<!-- <input type="text" 
class="form-control" 
(input)="onUpdateServerName($event)"> -->

<!-- Using Two way Binding -->
<input type="text" class="form-control" [(ngModel)]="serverName">

<!-- <p>{{serverName}}</p> -->
<button class="btn btn-primary" (click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p *ngIf="serverCreated">Server was created under {{serverName}}</p>
<!-- <p *ngIf="serverCreated; else noServer">Server was created under {{serverName}}</p>
<ng-template #noServer>
    <p>
        No Server was created
    </p>
</ng-template> -->
<!-- <p [innerText]="serverCreationStatus" (click)="serverCreationStatus= 'ok Server'"></p> -->
<app-server-local *ngFor="let server of serversList"></app-server-local>